.container {
    max-width: 1440px;
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

header a {
    text-decoration: none;
    color: #333;
}

header img {
    width: 150px;
}
header a:hover {
    text-decoration:underline;
}

header button {
    color: #333;
    margin: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
}

header button:hover {
    color: #946666;
}

.hero {
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero_img img {
    width: 300px;
    margin: 28px;
}

.end {
    margin-top: 40px;
    margin-bottom: 40px;
}

.link {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

hr {
    border: 1px solid #333;
}

.aloqa a {
    text-decoration: none;
    color: #333;
}

